/* styles/Navbar.css */
.navbar{
  width: 100%;
  height: 20%;
  background-color: #012D56;
}
.container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
 
  /* padding: 10px; */
}
.logo-container{
  padding-left: 15px;
  padding-top: 10px;
}
.menu-container {
  padding-top: 25px;
}
.get-btn{
  background-color: #3087C8;
  color: #ffff;
  padding: 25px;
  display: flex;
  
  
}

.menu {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

li {
  margin: 0 20px;
}

a {
  text-decoration: none;
  color: #ffff;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.mobile-menu-toggle {
  display: none;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .menu-container {
    display: none;
    flex-direction: column;
    background-color: #333;
    z-index: 200;
    position: absolute;
    top: 60px;
    right: 0;
    left: 0;
  }

  .menu-container.open {
    display: flex;
    
  
    
  }

  .mobile-menu-toggle {
    display: flex;
    
    
  }
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
    
  }
  .menu {
    display: flex;
    flex-direction: row;
  }
  .nav-btn{
    display: flex;
  align-items: center;
  justify-content: center;
  }
}


.nav-btn {
  background-color: #3087C8;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border-style: none;
  cursor: pointer;
  z-index: 100;
}

.navbar002 {
  width: 100%;
  height: 20%;
  position: absolute;
  top: 100px;
  right: 0;
  z-index: 200;
  margin: none;
  border-radius: 16px;
  background-color: #3087C8;
  
  
} 

.navList {
  padding: 50px 70px 100px 70px;
}

.nav-item {
  font-size: 20px;
  list-style: none;
  text-align: center;
  color: white;
  cursor: pointer;
} 



